<div *ngIf="rides.length > 0; else noRides" style="min-height: 80vh">
  <div *ngFor="let ride of rides" class="centered-container">
    <mat-card class="ride-card" (click)="rideDetailsDialog(ride)">
      <mat-card-header>
        <mat-icon>calendar_today</mat-icon>
        <span>{{ride.startingTime | date: 'short'}}</span>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon>outlined_flag</mat-icon>
            <span>{{ride.startAddress?.streetName}} {{ride.startAddress?.homeNumber}}, {{ride.startAddress?.city}}</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>flag</mat-icon>
            <span>{{ride.endAddress?.streetName}} {{ride.endAddress?.homeNumber}}, {{ride.endAddress?.city}}</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>attach_money</mat-icon>
            <span>{{ride!.price / 100}} zł</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>person</mat-icon>
            <span>{{ride.driver.firstName}} {{ride.driver.lastName.charAt(0)}}. (tel. {{ride.driver.phoneNumber}})</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>directions_car</mat-icon>
            <span>{{ride!.car.make}} {{ride!.car.model}}, {{ride!.car.color}} ({{ride!.car.plateNumber}})</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<ng-template #noRides>
  <h3 style="margin-top: 20px; text-align: center">Brak zaplanowanych przejazdów jako pasażer.</h3>
</ng-template>
