<h3 mat-dialog-title>Szczegóły przejazdu</h3>
<mat-dialog-content>
  <mat-list>
    <mat-list-item>
      <p><b>Termin: </b>{{data.ride.startingTime | date: 'short'}}</p>
    </mat-list-item>
    <mat-list-item>
      <p><b>Początek trasy: </b>{{data.ride.startAddress?.streetName}} {{data.ride.startAddress?.homeNumber}}, {{data.ride.startAddress?.city}}</p>
    </mat-list-item>
    <mat-list-item>
      <p><b>Koniec trasy: </b>{{data.ride.endAddress?.streetName}} {{data.ride.endAddress?.homeNumber}}, {{data.ride.endAddress?.city}}</p>
    </mat-list-item>
    <mat-list-item>
      <p><b>Cena: </b>{{data.ride.price / 100 | currency: 'PLN'}}</p>
    </mat-list-item>
    <mat-list-item>
      <p><b>Kierowca:</b>
        {{data.ride.driver.username}} ({{data.ride.driver.firstName}} {{data.ride.driver.lastName.charAt(0)}}.),
        wiek: {{driverAge}}, śr. ocen: <ng-container *ngIf="data.ride.driver.receivedRates.length > 0; else noRates">
          {{data.ride.driver | meanRatingForUser}}<mat-icon style="vertical-align: middle">star</mat-icon>
        </ng-container>
        <ng-template #noRates>
          brak
        </ng-template></p>
    </mat-list-item>
    <mat-list-item>
      <p><b>Samochód:</b> {{data.ride.car.make}} {{data.ride.car.model}} ({{data.ride.car.color}}, {{data.ride.car.productionYear}} r.)</p>
    </mat-list-item>
    <mat-list-item>
      <p><b>Opis:</b>
        {{data.ride.description}}</p>
    </mat-list-item>
    <mat-list-item>
      <p><b>Liczba dostępnych miejsc:</b>
        {{data.ride.placesAvailable}}</p>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<div class="centered-container" id="map" leaflet
     [leafletOptions]="options"
     (leafletMapReady)="onMapReady($event)">
</div>
<div class="centered-container" style="margin-top: 10px">
  <mat-form-field class="wider-form-field">
    <mat-label>Ile miejsc chcesz zarezerwować?</mat-label>
    <mat-select [(ngModel)]="selectedValue">
      <mat-option *ngFor="let option of getOptions(data.ride.placesAvailable)"
                  [value]="option">{{ option }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close>Powrót</button>
  <button *ngIf="isAuthenticated$ | async" mat-raised-button mat-dialog-close color="accent" (click)="reserveRide()">Rezerwuj</button>
  <button *ngIf="!(isAuthenticated$ | async)" mat-raised-button color="accent" [routerLink]="'/login/0'"
          matTooltip="Musisz się zalogować, aby zarezerwować przejazd" mat-dialog-close>Zaloguj
  </button>
</mat-dialog-actions>
