<form [formGroup]="loginFormGroup" (ngSubmit)="login()">
  <div class="form-container">
    <div class="login-text">
      <section class="mat-typography">
        <h3>Wprowadź dane użytkownika</h3>
      </section>
    </div>
    <mat-form-field class="input-field" [hideRequiredMarker]="true">
      <mat-label>Nazwa użytkownika</mat-label>
      <input matInput type="text" formControlName="username" required>
    </mat-form-field>
    <mat-form-field class="input-field" [hideRequiredMarker]="true">
      <mat-label>Hasło</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'Ukryj hasło'"
              [attr.aria-pressed]="hidePassword" type="button">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button [disabled]="!loginFormGroup!.valid" color="accent" type="submit">Zaloguj</button>
  </div>
</form>
