.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  overflow: hidden;
}

.input-field {
  width: 100%;
  max-width: 300px;
}

.login-text h3 {
  color: #333;
}
