<div class="search-panel">
  <h2 mat-dialog-title>Szukaj przejazdu</h2>
  <form class="search-fields" [formGroup]="searchControl" (ngSubmit)="searchRides()">
  <mat-dialog-content>
    <mat-form-field class="search-field" [hideRequiredMarker]="true">
      <mat-label>Adres startowy</mat-label>
      <input matInput formControlName="address" placeholder="np. Marszałkowska 15 Warszawa">
      <button mat-icon-button matSuffix (click)="findMyLocation()" matTooltip="Moja lokalizacja" type="button">
        <mat-icon>my_location</mat-icon>
      </button>
      <mat-error *ngIf="searchControl.get('address')!.hasError('required')">Określ adres startowy.</mat-error>
    </mat-form-field>
    <mat-form-field class="search-field" [hideRequiredMarker]="true">
      <mat-label>Cel podróży</mat-label>
      <input matInput formControlName="destination" placeholder="Cel podróży">
      <mat-error *ngIf="searchControl.get('destination')!.hasError('required')">Określ cel podróży.</mat-error>
    </mat-form-field>
    <div class="date-distance-container">
      <mat-form-field [hideRequiredMarker]="true">
        <mat-label>Data i godzina podróży</mat-label>
        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Data i godzina podróży" formControlName="date"
               [min]="now">
        <mat-datepicker-toggle matSuffix [for]="$any(picker)" disabled="false"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
                                 [stepHour]="1" [stepMinute]="1" [stepSecond]="1"
                                 [touchUi]="false" [enableMeridian]="false"
                                 [disableMinute]="false" [hideTime]="false" disabled="false">
          <ngx-mat-datepicker-actions>
            <button mat-button ngxMatDatepickerCancel>Anuluj</button>
            <button mat-raised-button color="accent" ngxMatDatepickerApply>Gotowe</button>
          </ngx-mat-datepicker-actions>
        </ngx-mat-datetime-picker>
      </mat-form-field>
      <mat-form-field [hideRequiredMarker]="true">
        <mat-label>Szukaj w promieniu</mat-label>
        <mat-select formControlName="distance">
          <mat-option *ngFor="let distance of distanceOptions" [value]="distance">
            {{distance}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-fab color="white" mat-dialog-close><mat-icon>replay</mat-icon></button>
    <button mat-fab color="accent" class="search-button" matTooltip="Szukaj" [disabled]="!searchControl!.valid" type="submit">
      <mat-icon>search</mat-icon>
    </button>
  </mat-dialog-actions>
  </form>
</div>
