.search-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.search-field {
  width: 100%;
  margin-bottom: 0;
}

.date-distance-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.date-distance-container mat-form-field {
  width: calc(50% - 5px);
  max-width: none;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .date-distance-container {
    flex-direction: column;
  }

  .date-distance-container mat-form-field {
    width: 100%;
    margin-bottom: 0;
  }
}
