<div *ngIf="rates.length == 0; else showRates">
  <h3 style="margin-top: 20px; text-align: center">Brak wystawionych opinii - możesz to zrobić wchodząc w archiwalne
    przejazdy, a następnie wybierając przejazd, dla
    którego wystawisz ocenę kierowcy.</h3>
</div>
<ng-template #showRates>
  <div *ngFor="let review of getRatesOnCurrentPage()" class="centered-container">
    <mat-card>
      <mat-card-actions class="button-container">
        <button mat-icon-button (click)="editRate(review)" matTooltip="Edytuj komentarz">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteReview(review)" matTooltip="Usuń komentarz">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon class="review-icon">person</mat-icon>
            Kierowca: {{review.driverUsername}}
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-icon class="review-icon">sentiment_satisfied</mat-icon>
            Twoja ocena:
            <div *ngFor="let n of numSequence(review.rate)" class="rating-icons">
              <mat-icon style="vertical-align: middle">star</mat-icon>
            </div>
            <ng-container *ngFor="let n of numSequence(5 - review.rate)">
              <mat-icon style="vertical-align: middle">star_border</mat-icon>
            </ng-container>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-icon class="review-icon">comment</mat-icon>
            Komentarz: {{review.comment}}
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-icon class="review-icon">access_time</mat-icon>
            Data wystawienia: {{review.ratingDateTime | date: 'short'}}
          </mat-list-item>
          <mat-list-item *ngIf="review.updateDateTime">
            <mat-icon class="review-icon">edit</mat-icon>
            Data edycji: {{review.updateDateTime | date: 'short'}}
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
<!--  <mat-paginator-->
<!--    [length]="rates.length"-->
<!--    [pageSize]="pageSize"-->
<!--    [pageIndex]="pageIndex"-->
<!--    showFirstLastButtons-->
<!--    (page)="pageChanged($event)"-->
<!--  ></mat-paginator>-->
</ng-template>
