<h3 mat-dialog-title>Szczegóły przejazdu</h3>
<mat-dialog-content>
  <mat-list>
    <mat-list-item>
      <p><b>Termin: </b>{{ride.startingTime | date: 'short'}}</p>
    </mat-list-item>
    <mat-list-item>
      <p><b>Początek trasy: </b>{{ride.startAddress?.streetName}} {{ride.startAddress?.homeNumber}}, {{ride.startAddress?.city}}</p>
    </mat-list-item>
    <mat-list-item>
      <p><b>Koniec trasy: </b>{{ride.endAddress?.streetName}} {{ride.endAddress?.homeNumber}}, {{ride.endAddress?.city}}</p>
    </mat-list-item>
    <mat-list-item>
      <p><b>Cena: </b>{{ride.price / 100}} zł</p>
    </mat-list-item>
    <mat-list-item>
      <p><b>Samochód:</b> {{ride.car.make}} {{ride.car.model}} ({{ride.car.color}}, {{ride.car.productionYear}} r.)</p>
    </mat-list-item>
    <mat-list-item>
      <p><b>Opis:</b>
        {{ride.description}}</p>
    </mat-list-item>
    <mat-list-item>
      <p><b>Liczba dostępnych miejsc:</b>
        {{ride.placesAvailable}}</p>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<div class="centered-container" id="map" leaflet
     [leafletOptions]="options"
     (leafletMapReady)="onMapReady($event)">
</div>
<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close>Powrót</button>
  <button mat-raised-button color="warn" (click)="removeReservation()">Anuluj rezerwację</button>
</mat-dialog-actions>
