.promo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-image: url("../../assets/background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.search-panel {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.5);
}

.search-panel h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.search-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-bottom: 10px;
}

.search-field {
  width: 100%;
  max-width: 60%;
  margin-bottom: 0;
}

.eco-message {
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
  color: #28a745;
}


.promo-heading {
  color: #333;
}

.promo-list {
  list-style-type: none;
  padding-left: 20px;
  color: #333;
}

.promo-list-item {
  position: relative;
  margin-bottom: 10px;
}

.promo-list-item:before {
  content: '✓';
  position: absolute;
  left: -20px;
  color: #28a745;
}

.promo-content button {
  display: block;
  margin: 0 auto;
}

.join-us-panel {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
}

.date-distance-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 60%;
}

.date-distance-container mat-form-field {
  width: calc(50% - 5px);
  max-width: none;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .date-distance-container {
    flex-direction: column;
  }

  .date-distance-container mat-form-field {
    width: 100%;
    margin-bottom: 0;
  }
}
