<div class="promo-container">
  <div class="search-panel">
    <h2>Szukaj przejazdu</h2>
    <form class="search-fields" [formGroup]="searchControl" (ngSubmit)="searchRides()">
      <mat-form-field class="search-field" [hideRequiredMarker]="true">
        <mat-label>Adres startowy</mat-label>
        <input matInput type="text" formControlName="address" placeholder="np. Marszałkowska 15 Warszawa">
        <button mat-icon-button matSuffix (click)="findMyLocation()" matTooltip="Moja lokalizacja" type="button">
          <mat-icon>my_location</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="search-field" [hideRequiredMarker]="true">
        <mat-label>Cel podróży</mat-label>
        <input matInput type="text" formControlName="destination" placeholder="Cel podróży">
      </mat-form-field>
      <div class="date-distance-container">
        <mat-form-field [hideRequiredMarker]="true">
          <mat-label>Data i godzina podróży</mat-label>
          <input matInput [ngxMatDatetimePicker]="picker" placeholder="Data i godzina podróży" formControlName="date"
                 [min]="now">
          <mat-datepicker-toggle matSuffix [for]="$any(picker)" disabled="false"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
                                   [stepHour]="1" [stepMinute]="1" [stepSecond]="1"
                                   [touchUi]="false" [enableMeridian]="false"
                                   [disableMinute]="false" [hideTime]="false" disabled="false">
            <ngx-mat-datepicker-actions>
              <button mat-button ngxMatDatepickerCancel>Anuluj</button>
              <button mat-raised-button color="accent" ngxMatDatepickerApply>Gotowe</button>
            </ngx-mat-datepicker-actions>
          </ngx-mat-datetime-picker>
        </mat-form-field>
        <mat-form-field [hideRequiredMarker]="true">
          <mat-label>Szukaj w promieniu</mat-label>
          <mat-select formControlName="distance">
            <mat-option *ngFor="let distance of distanceOptions" [value]="distance">
              {{distance}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button mat-fab color="accent" class="search-button" matTooltip="Szukaj" type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </div>
  <div class="join-us-panel">
    <div class="promo-content">
      <h1 class="promo-heading">Witamy w innowacyjnej aplikacji carpoolingowej - Drive Me!</h1>
      <p>Odkryj nowy wymiar podróży miejskich i zacznij oszczędzać czas i pieniądze dzięki naszemu wyjątkowemu
        rozwiązaniu.</p>
      <p>Czy znasz to uczucie, gdy stoisz na przystanku autobusowym w deszczu, spóźniasz się na spotkanie, a autobus
        właśnie odjechał? Nasza aplikacja ma na celu rozwiązać ten problem raz na zawsze.</p>
      <h2 class="promo-heading">Dlaczego warto wybrać naszą aplikację:</h2>
      <ul class="promo-list">
        <li class="promo-list-item"><b>Bezproblemowe współdzielenie samochodów</b>: Oferujemy możliwość znalezienia i
          współdzielenia przejazdów z innymi osobami podróżującymi w tę samą stronę. Dzięki temu oszczędzasz na kosztach
          paliwa i jednocześnie dbasz o środowisko.
        </li>
        <li class="promo-list-item"><b>Szybkość i wygoda</b>: Nie musisz już czekać na komunikację publiczną. Nasza
          aplikacja pozwala Ci znaleźć dostępne przejazdy w czasie rzeczywistym. Po prostu wybierz datę, miejsce i
          kierunek podróży, a resztą zajmiemy się my.
        </li>
        <li class="promo-list-item"><b>Planuj swoje trasy</b>: Nie tylko korzystaj z dostępnych przejazdów, ale także
          planuj swoje własne trasy. Zyskasz pełną kontrolę nad swoimi podróżami i będziesz mógł/a dostosować je do
          swoich
          potrzeb.
        </li>
        <li class="promo-list-item"><b>Przejazdy na Twoich warunkach</b>: Niezależnie czy podróżujesz do pracy, na
          uczelnię czy na spotkanie z przyjaciółmi, nasza aplikacja pozwala Ci dostosować przejazdy do Twojego
          harmonogramu.
        </li>
        <li class="promo-list-item"><b>Intuicyjny interfejs</b>: Nasza aplikacja została stworzona z myślą o
          użytkownikach. Dzięki prostemu i intuicyjnemu interfejsowi szybko znajdziesz odpowiedni przejazd lub dodasz
          własną trasę.
        </li>
      </ul>
      <p class="eco-message">Dzięki wspólnemu podróżowaniu w naszej aplikacji, nie tylko oszczędzasz czas i pieniądze,
        ale
        także redukujesz emisję zanieczyszczeń. Wspólnie tworzymy bardziej zrównoważone miasto!</p>
      <div>
        <button mat-raised-button color="accent" (click)="navigateToRegistrationTab()"><b>Dołącz teraz!</b></button>
      </div>
    </div>
  </div>
</div>
