<h3 mat-dialog-title>Edytuj przejazd</h3>
<form class="search-fields" [formGroup]="formControl" (ngSubmit)="editRide()">
<mat-dialog-content>
    <mat-form-field>
      <mat-label>Adres startowy</mat-label>
      <input matInput formControlName="address" placeholder="np. Marszałkowska 15 Warszawa">
      <button mat-icon-button matSuffix (click)="findMyLocation()" matTooltip="Moja lokalizacja" type="button">
        <mat-icon>my_location</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cel podróży</mat-label>
      <input matInput formControlName="destination" placeholder="Cel podróży">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Data i godzina podróży</mat-label>
      <input matInput [ngxMatDatetimePicker]="picker" placeholder="Data i godzina podróży" formControlName="date"
             [min]="now">
      <mat-datepicker-toggle matSuffix [for]="$any(picker)" disabled="false"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
                               [stepHour]="1" [stepMinute]="1" [stepSecond]="1"
                               [touchUi]="false" [enableMeridian]="false"
                               [disableMinute]="false" [hideTime]="false" disabled="false">
        <ngx-mat-datepicker-actions>
          <button mat-button ngxMatDatepickerCancel>Anuluj</button>
          <button mat-raised-button color="accent" ngxMatDatepickerApply>Gotowe</button>
        </ngx-mat-datepicker-actions>
      </ngx-mat-datetime-picker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Samochód</mat-label>
      <mat-select formControlName="car">
        <mat-option *ngFor="let car of userCars" [value]="ride.car">{{ car.make }} {{ car.model }}, {{ car.plateNumber }}</mat-option>
        <mat-option (click)="openCreateNewCarDialog()">Dodaj nowy samochód</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Liczba dostępnych miejsc</mat-label>
      <input matInput type="number" formControlName="placesAvailable" [min]="1" [max]="maxPlacesAvailable">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cena przejazdu</mat-label>
      <input matInput formControlName="price">
      <mat-error *ngIf="formControl.get('price')!.hasError('invalidPrice')">Niepoprawny format.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Opis</mat-label>
      <textarea matInput #desc maxlength="200" formControlName="description"></textarea>
      <mat-hint align="end">{{desc.value.length}} / 200</mat-hint>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close>
    Anuluj
  </button>
  <button mat-raised-button color="accent" type="submit" [disabled]="!formControl!.valid">
    Zapisz
  </button>
</mat-dialog-actions>
</form>
