.search-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

mat-form-field {
  width: 100%;
}

mat-dialog-container {
  width: 90%;
}

mat-dialog-content {
  max-height: 80vh;
  overflow-y: auto;
}

mat-select {
  width: 100%;
}
