<mat-dialog-content>
  Czy na pewno chcesz odblokować użytkownika {{user.username}}?
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close>Powrót</button>
  <button mat-raised-button mat-dialog-close color="accent" (click)="unblockUser()">Odblokuj</button>
</mat-dialog-actions>
