<div class="search-bar">
  <mat-form-field>
    <input matInput (input)="applyFilter($event)" placeholder="Szukaj...">
    <button matSuffix mat-icon-button disabled>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="passenger">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Oceniający</th>
    <td mat-cell *matCellDef="let element">
      {{ element.passengerUsername }}
    </td>
  </ng-container>

  <ng-container matColumnDef="driver">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Oceniany</th>
    <td mat-cell *matCellDef="let element">
      {{ element.driverUsername }}
    </td>
  </ng-container>

  <ng-container matColumnDef="rate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ocena</th>
    <td mat-cell *matCellDef="let element">
      <div *ngFor="let n of numSequence(element.rate)" class="rating-icons">
        <mat-icon style="vertical-align: middle">star</mat-icon>
      </div>
      <ng-container *ngFor="let n of numSequence(5 - element.rate)">
        <mat-icon style="vertical-align: middle">star_border</mat-icon>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Komentarz</th>
    <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
  </ng-container>

  <ng-container matColumnDef="ratingDateTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Data wystawienia</th>
    <td mat-cell *matCellDef="let element"> {{element.ratingDateTime | date: 'medium'}} </td>
  </ng-container>

  <ng-container matColumnDef="updateDateTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Data edycji</th>
    <td mat-cell *matCellDef="let element"> {{element.updateDateTime | date: 'medium'}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger>
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="menu-item" (click)="openEditDialog(element)">Edytuj ocenę</button>
        <button mat-menu-item class="menu-item" (click)="openDeleteDialog(element)">Usuń ocenę</button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
