.search-bar {
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
}

.center-spinner {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}
