<mat-tab-group [selectedIndex]="selectedTabIndex">
  <mat-tab label="Logowanie">
    <app-sign-in></app-sign-in>
  </mat-tab>
  <mat-tab label="Rejestracja">
    <app-register></app-register>
  </mat-tab>
</mat-tab-group>
