<h3 mat-dialog-title>
  Czy na pewno chcesz ten komentarz?
</h3>
<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close>Nie</button>
  <button mat-raised-button mat-dialog-close color="warn" (click)="deleteRating()">Tak</button>
</mat-dialog-actions>
