<mat-tab-group>
  <mat-tab label="Dane konta">
    <app-account-view></app-account-view>
  </mat-tab>
  <mat-tab label="Moje przejazdy">
    <app-my-rides-view></app-my-rides-view>
  </mat-tab>
  <mat-tab label="Opinie">
    <app-my-reviews-view></app-my-reviews-view>
  </mat-tab>
  <mat-tab label="Przejazdy archiwalne">
    <app-my-archived-rides-view></app-my-archived-rides-view>
  </mat-tab>
</mat-tab-group>
