.rating-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.star-container {
  display: flex;
  align-items: center;
  gap: 1px;
}
