.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
  overflow: hidden;
}

.input-field {
  width: 100%;
  max-width: 300px;
}

.button-spacing {
  margin-top: 30px;
}

.login-text h3 {
  color: #333;
}

.help:disabled {
  pointer-events: auto;
}
