<form [formGroup]="registrationFormGroup" (ngSubmit)="register()">
  <div class="form-container">
    <div class="login-text">
      <section class="mat-typography">
        <h3>Wprowadź dane nowego użytkownika</h3>
      </section>
    </div>
    <mat-form-field class="input-field">
      <mat-label>Imię</mat-label>
      <input matInput type="text" formControlName="firstName" required>
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Nazwisko</mat-label>
      <input matInput type="text" formControlName="lastName" required>
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Adres e-mail</mat-label>
      <input type="email" matInput formControlName="email" required>
      <mat-error *ngIf="registrationFormGroup.get('email')!.hasError('email')">Wprowadź poprawny adres e-mail.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Data urodzenia</mat-label>
      <input matInput type="date" required formControlName="birthDate" [max]="maxDate" [min]="minDate">
      <!--          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="birthDate" required placeholder="Data urodzenia" readonly>-->
      <!--          <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="false"></mat-datepicker-toggle>-->
      <!--          <mat-datepicker #picker [disabled]="false" startView="multi-year"></mat-datepicker>-->
      <!--          <mat-error *ngIf="registrationFormGroup.get('birthDate')!.hasError('valid')">Poprawny format: dd.mm.yyyy-->
      <!--          </mat-error>-->
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Numer telefonu</mat-label>
      <input matInput type="tel" formControlName="phoneNumber" required>
      <mat-error *ngIf="registrationFormGroup.get('phoneNumber')!.hasError('pattern')">Wprowadź poprawny numer
        telefonu.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Nazwa użytkownika</mat-label>
      <input matInput type="text" formControlName="newUsername" required>
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Hasło</mat-label>
      <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword" required>
      <button mat-icon-button [disabled]="true" matSuffix matTooltip="Hasło musi zawierać min. 8 znaków (małą i wielką literę, cyfrę oraz znak specjalny)" class="help">
        <mat-icon>help_outline</mat-icon>
      </button>
      <button mat-icon-button matSuffix (click)="toggleNewPasswordVisibility()" [attr.aria-label]="'Ukryj hasło'"
              [attr.aria-pressed]="hideNewPassword" type="button">
        <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="registrationFormGroup.get('newPassword')!.hasError('pattern')">Niepoprawny format.</mat-error>
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Powtórz hasło</mat-label>
      <input matInput [type]="hideRepeatPassword ? 'password' : 'text'" formControlName="repeatPassword" required>
      <mat-error *ngIf="registrationFormGroup.get('repeatPassword')?.hasError('passwordMismatch')">Hasła muszą być takie same.</mat-error>
      <button mat-icon-button matSuffix (click)="toggleRepeatPasswordVisibility()" [attr.aria-label]="'Ukryj hasło'"
              [attr.aria-pressed]="hideRepeatPassword" type="button">
        <mat-icon>{{hideRepeatPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button class="button-spacing" mat-raised-button [disabled]="!registrationFormGroup!.valid" color="accent"
            type="submit">Stwórz konto
    </button>
  </div>
</form>
