<mat-tab-group>
  <mat-tab label="Wystawione">
    <app-written-reviews></app-written-reviews>
  </mat-tab>
  <mat-tab label="Otrzymane">
    <div *ngIf="receivedRates$ | async as rates; else noReceivedRates">
      <app-received-reviews [rates]="rates"></app-received-reviews>
    </div>
    <ng-template #noReceivedRates>
      <h3 style="margin-top: 20px; text-align: center">Brak otrzymanych opinii - po wykonaniu dodanego przez Ciebie
        przejazdu, pasażerowie będą mogli wystawić Ci ocenę.</h3>
    </ng-template>
  </mat-tab>
</mat-tab-group>
