<h3 mat-dialog-title>Edycja</h3>
<form class="edit-form" [formGroup]="formControl" (ngSubmit)="saveCar()">
  <div class="responsive-container">
    <mat-dialog-content>
      <div class="form-columns">
        <div class="form-column">
          <mat-form-field>
            <mat-label>Marka</mat-label>
            <input matInput formControlName="make">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Model</mat-label>
            <input matInput formControlName="model">
          </mat-form-field>
        </div>
        <div class="form-column">
          <mat-form-field>
            <mat-label>Kolor</mat-label>
            <input matInput formControlName="color">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Numer rejestracyjny</mat-label>
            <input matInput formControlName="plateNumber">
          </mat-form-field>
        </div>
        <div class="form-column">
          <mat-form-field>
            <mat-label>Rok produkcji</mat-label>
            <input matInput type="number" formControlName="productionYear" [min]="1950" [max]="currentYear">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Max. pasażerów</mat-label>
            <input matInput type="number" formControlName="maxPassengers" [min]="1" [max]="8">
          </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>
  </div>
  <mat-dialog-actions align="center">
    <button mat-raised-button mat-dialog-close>Powrót</button>
    <button mat-raised-button color="accent" [disabled]="!formControl!.valid" type="submit">Zapisz</button>
  </mat-dialog-actions>
</form>
