<div *ngIf="dataSource.data.length > 0; else noArchivedRides">
  <div class="search-bar">
    <mat-form-field>
      <input matInput (input)="applyFilter($event)" placeholder="Szukaj...">
      <button matSuffix mat-icon-button disabled>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="startingTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data i godzina</th>
      <td mat-cell *matCellDef="let element"> {{element.startingTime | date: 'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="startLocation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Początek trasy</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!element.startAddress; else addressInfo">
          Wczytywanie...
        </ng-container>
        <ng-template #addressInfo>
          {{element.startAddress?.streetName}} {{element.startAddress?.homeNumber}}, {{element.startAddress?.city}}
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="endLocation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Koniec trasy</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!element.endAddress; else addressInfo">
          Wczytywanie...
        </ng-container>
        <ng-template #addressInfo>
          {{element.endAddress?.streetName}} {{element.endAddress?.homeNumber}}, {{element.endAddress?.city}}
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="driver">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Kierowca</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!element.driver; else driverInfo">
          -
        </ng-container>
        <ng-template #driverInfo>
          {{element.driver.username}}
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="car">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Samochód</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!element.car; else carInfo">
          -
        </ng-container>
        <ng-template #carInfo>
          {{element.car.make}} {{element.car.model}}
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cena</th>
      <td mat-cell *matCellDef="let element">{{element.price / 100}} zł</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Opis</th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger *ngIf="!hasRatedDriver(element.driver.id)">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openRateDriverDialog(element)" *ngIf="!hasRatedDriver(element.driver.id)">Oceń kierowcę</button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<!--  <mat-paginator [pageSizeOptions]="[25, 50, 100]"-->
<!--                 showFirstLastButtons-->
<!--                 aria-label="Select page of periodic elements">-->
<!--  </mat-paginator>-->
</div>
<ng-template #noArchivedRides>
  <h3 style="margin-top: 20px; text-align: center">Brak przejazdów w ciągu ostatniego roku.</h3>
</ng-template>
