<h3 mat-dialog-title>Edycja oceny użytkownika</h3>
<form class="edit-form" [formGroup]="formControl" (submit)="updateRating()">
  <mat-dialog-content>
    <div class="form-container">
      <div class="star-container">
        <button mat-icon-button color="primary" *ngFor="let ratingId of ratingArr;index as i" [id]="'star_'+i"
                (click)="onClick(i+1)" type="button">
          <mat-icon>
            {{showIcon(i)}}
          </mat-icon>
        </button>
      </div>
      <mat-form-field>
        <mat-label>Komentarz</mat-label>
        <textarea matInput #comment maxlength="200" formControlName="comment"></textarea>
        <mat-hint align="end">{{comment.value.length}} / 200</mat-hint>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <button mat-raised-button mat-dialog-close>Powrót</button>
    <button mat-raised-button mat-dialog-close color="accent" type="submit">Zapisz</button>
  </mat-dialog-actions>
</form>
