<mat-tab-group>
  <mat-tab label="Użytkownicy">
    <app-user-list></app-user-list>
  </mat-tab>
  <mat-tab label="Samochody">
    <app-car-list></app-car-list>
  </mat-tab>
  <mat-tab label="Opinie">
    <app-user-ratings-list></app-user-ratings-list>
  </mat-tab>
  <mat-tab label="Przejazdy">
    <app-rides-list-admin></app-rides-list-admin>
  </mat-tab>
</mat-tab-group>
