<div *ngIf="rates.length == 0; else showRates">
  <h3>Brak ocen. Po przejeździe jako kierowca, inni użytkownicy będą mogli Cię ocenić.</h3>
</div>
<ng-template #showRates>
  <h3>
    Twoja średnia ocen: {{rates | meanRating}}<mat-icon class="review-icon">star_border</mat-icon>
  </h3>
  <div *ngFor="let review of getRatesOnCurrentPage()" class="centered-container">
    <mat-card>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon class="review-icon">person</mat-icon>
            Pasażer: {{review.passengerUsername}}
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-icon class="review-icon">sentiment_satisfied</mat-icon>
            Otrzymana ocena:
            <div *ngFor="let n of numSequence(review.rate)" class="rating-icons">
              <mat-icon style="vertical-align: middle">star</mat-icon>
            </div>
            <ng-container *ngFor="let n of numSequence(5 - review.rate)">
              <mat-icon style="vertical-align: middle">star_border</mat-icon>
            </ng-container>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-icon class="review-icon">comment</mat-icon>
            Komentarz: {{review.comment}}
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-icon class="review-icon">access_time</mat-icon>
            Data wystawienia: {{review.ratingDateTime | date: 'short'}}
          </mat-list-item>
          <mat-list-item *ngIf="review.updateDateTime">
            <mat-icon class="review-icon">edit</mat-icon>
            Data edycji: {{review.updateDateTime | date: 'short'}}
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
