h3 {
  margin-top: 20px;
  text-align: center;
}

mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 5px;
  max-width: 800px;
  vertical-align: middle;
}

.review-icon {
  vertical-align: middle;
  margin-right: 6px;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container {
  margin-left: auto;
}

.rating-icons {
  display: inline-block;
}
