<div class="search-bar">
  <mat-form-field>
    <input matInput (input)="applyFilter($event)" placeholder="Szukaj...">
    <button matSuffix mat-icon-button disabled>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="make">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Marka</th>
    <td mat-cell *matCellDef="let element"> {{element.make}} </td>
  </ng-container>

  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Model</th>
    <td mat-cell *matCellDef="let element"> {{element.model}} </td>
  </ng-container>

  <ng-container matColumnDef="color">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Kolor</th>
    <td mat-cell *matCellDef="let element"> {{element.color}} </td>
  </ng-container>

  <ng-container matColumnDef="plateNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Numer rejestracyjny</th>
    <td mat-cell *matCellDef="let element"> {{element.plateNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="productionYear">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Rok produkcji</th>
    <td mat-cell *matCellDef="let element"> {{element.productionYear}} </td>
  </ng-container>

  <ng-container matColumnDef="maxPassengers">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Max. pasażerów</th>
    <td mat-cell *matCellDef="let element"> {{element.maxPassengers}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger>
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="menu-item" (click)="openEditDialog(element)">Edytuj</button>
        <button mat-menu-item class="menu-item" (click)="openDeleteDialog(element)">Usuń</button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
