.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
}

.form-columns {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  width: 100%;
}

.form-column {
  flex: 1;
}

@media (max-width: 600px) {
  .responsive-container {
    padding: 0 16px;
  }

  .form-columns {
    flex-direction: column;
  }

  .form-column {
    flex: none;
    width: 100%;
  }
}
