<mat-tab-group>
  <mat-tab label="Jako kierowca">
    <app-my-archived-rides-as-driver></app-my-archived-rides-as-driver>
  </mat-tab>
  <mat-tab label="Jako pasażer">
    <app-my-archived-rides-as-passenger></app-my-archived-rides-as-passenger>
  </mat-tab>
</mat-tab-group>
