<div class="search-bar">
  <mat-form-field>
    <input matInput (input)="applyFilter($event)" placeholder="Szukaj...">
    <button matSuffix mat-icon-button disabled>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa użytkownika</th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Imię</th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwisko</th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="dateOfBirth">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Data urodzenia</th>
    <td mat-cell *matCellDef="let element"> {{element.dateOfBirth | date:'shortDate'}} </td>
  </ng-container>

  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Numer telefonu</th>
    <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="emailAddress">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail</th>
    <td mat-cell *matCellDef="let element"> {{element.emailAddress}} </td>
  </ng-container>

  <ng-container matColumnDef="rate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ocena</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.receivedRates.length > 0; else noRates">
        {{element | meanRatingForUser}}
      </ng-container>
      <ng-template #noRates>
        brak
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="cars">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Samochody (ID)</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngFor="let car of element.cars">
        {{ car.id }}<br>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rola</th>
    <td mat-cell *matCellDef="let element"> {{element.role | lowercase}} </td>
  </ng-container>

  <ng-container matColumnDef="blocked">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Zablokowany</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.blocked; else notBlocked">
        <mat-icon color="warn">lock</mat-icon>
      </ng-container>
      <ng-template #notBlocked>
        <mat-icon color="accent">lock_open</mat-icon>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="unblockDateTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Data odblokowania</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.unblockDateTime === null && element.blocked; else notBlocked">
        Na zawsze
      </ng-container>
      <ng-template #notBlocked>
        {{element.unblockDateTime | date : 'short'}}
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button *ngIf="(currentUser$ | async)?.id != element.id" mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger>
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="'/profile/' + element.username" class="menu-item">Pokaż profil</button>
        <button *ngIf="element.role == Role.ADMIN" mat-menu-item (click)="revokeAdminRights(element)" class="menu-item">Odbierz uprawnienia administratora
        </button>
        <button *ngIf="element.role == Role.USER" mat-menu-item (click)="grantAdminRights(element)" class="menu-item">Nadaj uprawnienia administratora
        </button>
        <button *ngIf="!element.blocked" mat-menu-item (click)="openBlockDialog(element)" class="menu-item">Zablokuj
        </button>
        <button *ngIf="element.blocked" mat-menu-item (click)="openUnblockDialog(element)" class="menu-item">Odblokuj
        </button>
        <button mat-menu-item (click)="openDeleteDialog(element)" class="menu-item">Usuń</button>
      </mat-menu>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!--<mat-paginator [pageSizeOptions]="[25, 50, 100]"-->
<!--               showFirstLastButtons-->
<!--               aria-label="Select page of periodic elements">-->
<!--</mat-paginator>-->
