.search-bar {
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 40px;
}
