.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.spacer {
  flex: 1 1 auto;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  max-width: 100%;
  max-height: 70px;
  margin-right: 10px;
}
