<mat-toolbar color="primary" class="app-toolbar">
  <a routerLink="/" class="logo-link">
    <img src="assets/logo.png" alt="Logo" class="logo">
  </a>
  <span class="spacer"></span>

  <button *ngIf="(isAdmin$ | async)" mat-icon-button matTooltip="Archiwum przejazdów" [routerLink]="'archive'">
    <mat-icon>history</mat-icon>
  </button>

  <button *ngIf="(isAdmin$ | async)" mat-icon-button matTooltip="Panel administratora" [routerLink]="'admin'">
    <mat-icon>settings</mat-icon>
  </button>

  <button *ngIf="(isAuthenticated$ | async)" mat-raised-button (click)="createNewRide()">
    <mat-icon>add</mat-icon>
    Stwórz przejazd
  </button>

  <button *ngIf="!isHomepage" mat-icon-button matTooltip="Wyszukaj przejazd" [routerLink]="''">
    <mat-icon>search</mat-icon>
  </button>

  <button *ngIf="(isAuthenticated$ | async)" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button *ngIf="!(isAuthenticated$ | async) && !isLoginPage" mat-icon-button [routerLink]="'login/0'" matTooltip="Zaloguj się lub stwórz konto">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item class="menu-item" [routerLink]="['profile/', currentUsername$ | async]">Moje konto</button>
    <button mat-menu-item class="menu-item" (click)="logout()">Wyloguj</button>
  </mat-menu>
</mat-toolbar>
