<div *ngIf="rides.length > 0; else noRides" style="min-height: 80vh">
  <div *ngFor="let ride of rides" class="centered-container">
    <mat-card class="ride-card">
      <mat-card-title class="card-title">
        <div class="title-content">
          <button mat-icon-button (click)="rideDetailsDialog(ride)" matTooltip="Szczegóły">
            <mat-icon>settings</mat-icon>
          </button>
          <button mat-icon-button (click)="editRide(ride)" matTooltip="Edytuj przejazd">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon class="details-icon">calendar_today</mat-icon>
            <span>{{ride.startingTime | date: 'short'}}</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon class="details-icon">outlined_flag</mat-icon>
            <span>{{ride.startAddress?.streetName}} {{ride.startAddress?.homeNumber}}, {{ride.startAddress?.city}}</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon class="details-icon">flag</mat-icon>
            <span>{{ride.endAddress?.streetName}} {{ride.endAddress?.homeNumber}}, {{ride.endAddress?.city}}</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon class="details-icon">attach_money</mat-icon>
            <span>{{ride!.price / 100}} zł</span>
          </mat-list-item>
          <mat-list-item>
            <span>Wolne miejsca: {{ride!.placesAvailable}}</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<ng-template #noRides>
  <h3 style="margin-top: 20px; text-align: center">Brak zaplanowanych przejazdów jako kierowca.</h3>
</ng-template>
