.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
}

.ride-card {
  margin-top: 10px;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ride-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.details-icon {
  vertical-align: middle;
  margin-right: 10px;
}

br {
  margin-top: 5px;
}

span {
  vertical-align: middle;
}

@media (max-width: 768px) {
  .ride-card {
    width: 95%;
  }
}

.card-title {
  display: flex;
  justify-content: flex-end;
  width: 100%; /* Make sure the title spans the entire width */
}

.title-content {
  display: flex;
  justify-content: flex-end;
}

.title-content button {
  margin-left: 5px;
}
