<h3 mat-dialog-title>Edycja</h3>
<mat-dialog-content>
  <form [formGroup]="editFormGroup">
    <div class="form-container">
      <mat-form-field class="input-field">
        <mat-label>Imię</mat-label>
        <input matInput formControlName="firstName" required>
        <mat-error *ngIf="editFormGroup.get('firstName')!.hasError('required')">To pole jest wymagane.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-field">
        <mat-label>Nazwisko</mat-label>
        <input matInput formControlName="lastName" required>
        <mat-error *ngIf="editFormGroup.get('lastName')!.hasError('required')">To pole jest wymagane.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-field">
        <mat-label>Adres e-mail</mat-label>
        <input type="email" matInput formControlName="email" required>
        <mat-error *ngIf="editFormGroup.get('email')!.hasError('required')">To pole jest wymagane.</mat-error>
        <mat-error *ngIf="editFormGroup.get('email')!.hasError('email')">Wprowadź poprawny adres e-mail.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-field">
        <mat-label>Data urodzenia</mat-label>
        <input matInput type="date" required formControlName="birthDate">
<!--        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="birthDate" required readonly>-->
<!--        <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="false"></mat-datepicker-toggle>-->
<!--        <mat-datepicker #picker [disabled]="false" startView="multi-year"></mat-datepicker>-->
        <mat-error *ngIf="editFormGroup.get('birthDate')!.hasError('required')">To pole jest wymagane.
        </mat-error>
<!--        <mat-error *ngIf="registrationFormGroup.get('birthDate')!.hasError('valid')">Poprawny format: dd.mm.yyyy-->
<!--        </mat-error>-->
      </mat-form-field>
      <mat-form-field class="input-field">
        <mat-label>Numer telefonu</mat-label>
        <input matInput formControlName="phoneNumber" required>
        <mat-error *ngIf="editFormGroup.get('phoneNumber')!.hasError('required')">To pole jest wymagane.
        </mat-error>
        <mat-error *ngIf="editFormGroup.get('phoneNumber')!.hasError('pattern')">Wprowadź poprawny numer
          telefonu.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-field">
        <mat-label>Nowe hasło</mat-label>
        <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword">
        <mat-error *ngIf="editFormGroup.get('newPassword')!.hasError('pattern')">Hasło musi zawierać min. 8
          znaków (małą i wielką literę, cyfrę oraz znak specjalny).
        </mat-error>
        <button mat-icon-button matSuffix (click)="toggleNewPasswordVisibility()" [attr.aria-label]="'Ukryj hasło'"
                [attr.aria-pressed]="hideNewPassword" type="button">
          <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close>Powrót</button>
  <button mat-raised-button color="accent" (click)="save()">Zapisz</button>
</mat-dialog-actions>
