mat-dialog-content {
  max-height: 80vh;
  overflow-y: auto;
  padding: 16px;
}

mat-dialog-title,
mat-dialog-actions {
  margin-bottom: 16px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  overflow: hidden;
}

.input-field {
  width: 100%;
  max-width: 500px;
}

.login-text h3 {
  color: #333;
}
