<h3 mat-dialog-title>
  Czy na pewno chcesz usunąć ten samochód?
</h3>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close>Nie</button>
  <button mat-raised-button color="warn" (click)="deleteCar()">Tak</button>
</mat-dialog-actions>
