.center-spinner {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.navbar {
   background-color: rgba(3, 169, 244, 0.2);
   overflow: hidden;
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 8%;
   display: flex;
   justify-content: center;
   align-items: center;
 }

.search-button {
  font-size: 1.2rem;
  padding: 10px 20px;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
}

.ride-card {
  margin-top: 10px;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;
  width: 30%;
  align-items: center;
  justify-content: center;
}

.ride-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

mat-icon {
  vertical-align: middle;
  margin-right: 10px;
}

br {
  margin-top: 5px;
}

span {
  vertical-align: middle;
}

.search-results-container {
  padding-bottom: 8%;
}

@media (max-width: 768px) {
  .ride-card {
    width: 95%;
  }
}

.no-rides-found {
  text-align: center;
  margin: 20px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.no-rides-found p {
  margin: 5px;
}
