<div *ngIf="commonRides$ | async as rides; else loading">
    <div *ngIf="rides.length > 0; else noRides" class="search-results-container">
      <div *ngFor="let ride of rides" class="centered-container">
        <mat-card class="ride-card" (click)="rideReservationDialog(ride)">
          <mat-card-header>
            <mat-icon>calendar_today</mat-icon>
            <span>{{ride.startingTime | date: 'short'}}</span>
          </mat-card-header>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                <mat-icon>outlined_flag</mat-icon>
                <span>{{ride.startAddress?.streetName}} {{ride.startAddress?.homeNumber}}, {{ride.startAddress?.city}}</span>
              </mat-list-item>
              <mat-list-item>
                <mat-icon>flag</mat-icon>
                <span>{{ride.endAddress?.streetName}} {{ride.endAddress?.homeNumber}}, {{ride.endAddress?.city}}</span>
              </mat-list-item>
              <mat-list-item>
                <mat-icon>attach_money</mat-icon>
                <span>{{ride!.price / 100 | currency: 'PLN'}}</span>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="navbar">
      <button mat-raised-button color="accent" class="search-button" (click)="changeSearching()">Zmień kryteria
        wyszukiwania
        <mat-icon>search</mat-icon>
      </button>
    </div>
</div>
<ng-template #loading>
  <div *ngIf="!noRidesFound; else noRides" class="center-spinner">
    <mat-spinner color="accent" [diameter]="250"></mat-spinner>
  </div>
</ng-template>
<ng-template #noRides>
  <div class="no-rides-found">
    <p>Nie znaleziono przejazdów spełniających podane kryteria.</p>
    <p>Spróbuj zwiększyć promień wyszukiwania lub zmienić kryteria wyszukiwania.</p>
  </div>
  <div class="navbar">
    <button mat-raised-button color="accent" class="search-button" (click)="changeSearching()">Zmień kryteria
      wyszukiwania
      <mat-icon>search</mat-icon>
    </button>
  </div>
</ng-template>
