<h3 mat-dialog-title>Wybierz jak długo użytkownik {{user.username}} powinien być zablokowany</h3>
<mat-dialog-content>
  <div class="centered-container">
    <mat-form-field>
      <mat-select [(ngModel)]="daysSelected">
        <mat-option value="7">7 dni</mat-option>
        <mat-option value="30">30 dni</mat-option>
        <mat-option value="365">Rok</mat-option>
        <mat-option value="forever">Na zawsze</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close>Powrót</button>
  <button mat-raised-button mat-dialog-close color="warn" [disabled]="daysSelected == ''" (click)="blockUser()">Zablokuj</button>
</mat-dialog-actions>
