.account-icon {
  margin-right: 6px;
  vertical-align: middle;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.add-icon {
  margin-top: 6px;
}

span {
  vertical-align: middle;
}

mat-card {
  margin-block: 6px;
  margin-left: 6px;
  margin-right: 6px;
  width: fit-content;
  display: inline-block;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

b {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.cars-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.car-card {
  margin: 6px;
  width: fit-content;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.car-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.car-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.add-card {
  margin: 6px;
  align-self: center;
}

.edit-button {
  margin-left: auto;
  margin-top: -10px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
