<div class="centered-container">
  <mat-card>
    <mat-card-header>
      Szczegóły konta
      <button mat-icon-button (click)="editUser()" class="edit-button" matTooltip="Edytuj konto">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-icon class="account-icon">person</mat-icon>
          <span>Nazwa użytkownika: {{ user?.username }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon class="account-icon">person</mat-icon>
          <span>Imię: {{ user?.firstName }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon class="account-icon">person</mat-icon>
          <span>Nazwisko: {{ user?.lastName }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon class="account-icon">calendar_today</mat-icon>
          <span>Data urodzenia: {{ user?.dateOfBirth | date:'longDate' }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon class="account-icon">phone</mat-icon>
          <span>Numer telefonu: {{ user?.phoneNumber }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon class="account-icon">email</mat-icon>
          <span>Adres e-mail: {{ user?.emailAddress }}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
<b>Twoje samochody</b>
<div class="cars-container">
  <div class="car-cards">
    <mat-card *ngFor="let car of carList" class="car-card">
      <mat-card-header>
        <mat-icon class="account-icon">directions_car</mat-icon>
        <button mat-icon-button (click)="editCar(car)" class="edit-button" matTooltip="Edytuj samochód">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteCar(car)" style="margin: -10px" matTooltip="Usuń samochód">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <span>Marka: {{ car.make }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span>Model: {{ car.model }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span>Kolor: {{ car.color }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span>Numer rejestracyjny: {{ car.plateNumber }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span>Rok produkcji: {{ car.productionYear }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span>Maksymalna liczba pasażerów: {{ car.maxPassengers }}</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card class="add-card">
    <mat-card-header>
      <span>Dodaj samochód</span>
    </mat-card-header>
    <mat-card-content class="centered-content">
      <button mat-fab color="accent" (click)="addNewCar()" class="add-icon">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</div>
